$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	z-index: 7;
	font-weight: 300;
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	padding: 20px 0; 
	cursor: default; 
	
	.sw {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { width: 186px; height: 25px; background-size: 186px 50px; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}


footer {
	padding: 30px 0 0;
}

.footer-nav {

	background: $darkestBlueColor;
	text-transform: uppercase;

	ul {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( center );
	}
	
	li { 
		@include display( flex );
		text-align:center;
	}
	
	@media screen and (max-width: 600px) {
		ul,
		li { 
			display: block; 
			text-align:left;
		}
	}
	
	a {
		display: block;
		padding: 15px;
		color: #fff;
		&:hover {
			color: #fff;
			background: $blueColor;
		}
	}
}

.footer-contact {
	margin: 20px auto 0;
	text-align: center;
	width: 380px;
	max-width: 100%;
}

footer .flex {
	@include display( flex );
	@include justify-content( space-between );
	
	span {
		display: block;
		padding: 20px;
	}
}

footer .social {
	@include justify-content( center );
}